
<!-- breadcrumb End -->
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Enter your otp Code send in you email</h2>
                <form class="theme-form">
                    <div class="form-row">
						<div style="display:none;" class="pass_succ col-md-12">
							<span>Successfully</span>
                        </div>
						<div class="col-md-12">
                            <input type="text" class="form-control" id="old_pass" placeholder="Enter old password" required="">
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="otp_code" placeholder="OTP code" required="">
                        </div>
                        <button (click)="changePassword()" class="btn btn-solid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Section ends-->