<div class="row" >
    <div class="col-lg-6">
      <div class="header-contact">
        <ul>
          <li>Welcome to our store {{ user_url}}</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>{{ 'call-us' | translate }}: 123 - 456 - 7890</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 text-right" *ngIf="!productsService?.catalogMode">
      <ul class="header-dropdown">
        <li class="onhover-dropdown mobile-account">
          <i class="fa fa-user" aria-hidden="true"></i> {{ 'my-account' | translate }}
          <ul class="onhover-show-div">
            <li *ngIf="!isLoggedIn">
				<a [routerLink]="'pages/login'" data-lng="en">
				  {{ 'login' | translate }}
				</a>
            </li>
            <li *ngIf="isLoggedIn">
              <a (click)="checkLogout()" [routerLink]="'javascript:void(0);'" data-lng="es">
                  {{ 'logout' | translate }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>





