.top_bnr_div {
    background-image: url(/assets/images/home-banner/2.jpg);
    background-size: cover;
}
.mid_nav_bnnr {
    text-align: center;
    padding-top: 115px;
    padding-bottom: 115px;
}
h3.compression_class_div {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}
p.everyday_compress_ctnt {
    color: #fff;
    padding: 10px 10px;
}
.collection-collapse-block .collection-collapse-block-content .collection-brand-filter .collection-filter-checkbox label:before {
    visibility: hidden;
}