<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>forget password</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/pages/login'">login</a></li>
                        <li class="breadcrumb-item active" aria-current="page">forget password</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forget Your Password</h2>
                <form class="theme-form">
					
					<div class="form-row">
						<div style="display:none;" class="pass_succ col-md-12">
							<span>Successfully</span>
                        </div>
						<div style="display:none; color:red; text-align:center;" class="otp_fail col-md-12">
							<span>Successfully</span>
                        </div>
                    </div>
					
					<!-----------Forget Email------------->
                    <div class="form-row email_forgot">
						
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="email" placeholder="Enter Your Email" required="">
                        </div>
                        <button (click)="getForgotemail()" class="btn btn-solid">Submit</button>
                    </div>
					<!-----------otp code------------->
					<div style="display:none;" class="form-row otp_code">
						<div style="display:none;" class="pass_succ col-md-12">
							<span>Successfully</span>
                        </div>
                        <div class="col-md-12">
                            <input type="number" class="form-control" id="your_otp_code" placeholder="Enter your OTP" required="">
							<input type="password" class="form-control" id="new_pass" placeholder="New Password" required="">
                        </div>
                        <button (click)="OTPSend()" class="btn btn-solid">Submit</button>
                    </div>
					
					
                </form>
            </div>
        </div>
    </div>
</section>


<!--Section ends-->